<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Molecast</title>
    <link rel="icon" href="data:,">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css?v=codex-ui-1-production-20260506">
    <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js" defer></script>
    {% block frontend_config %}{% endblock %}
    <script src="/static/js/nws-colors.js" defer></script>
    <script src="/static/js/map.js?v=mercator-20260429" defer></script>
    <script src="/static/js/layer-order.js" defer></script>
    <script src="/static/js/county-boundaries.js?v=radar-layer-nav-20260505" defer></script>
    <script src="/static/js/radar.js?v=radar-layer-nav-20260505" defer></script>
    <script src="/static/js/alert-map.js?v=radar-layer-nav-20260505" defer></script>
    <script src="/static/js/app.js?v=radar-layer-nav-20260505" defer></script>
    {% block page_scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
